<h1>Store</h1>

<%= link_to 'ðŸ  Back to Home', root_path, class: 'button is-link' %>

  <div class="all-stores">
    <h2 class="title is-3">All Stores</h2>
    <ol>
      <% if @stores.present? %>
        <% @stores.each do |store| %>
          <li>
            <%= link_to store.name, store_path(store) %>
          </li>
        <% end %>
    <% end %>
    </ol>
  </div>