<div class="container">
  <div class="section text-center">
    <h1 class="display-4">Welcome to Meal Prepper</h1>
    <p class="lead">Your one-stop solution for meal planning and ingredient management!</p>
    
    <div class="row">
      <div class="col-md-6">
        <h2 class="h5">Explore</h2>
        <ul class="list-unstyled">
          <li><%= link_to 'Meals', meals_index_path, class: 'btn btn-link' %></li>
          <li><%= link_to 'Recipes', recipes_index_path, class: 'btn btn-link' %></li>
          <li><%= link_to 'Ingredients', ingredients_index_path, class: 'btn btn-link' %></li>
          <li><%= link_to 'Stores', stores_index_path, class: 'btn btn-link' %></li>
        </ul>
    </div>
    </div>
  </div>
</div>
