<div class="section">
  <h1 class="title is-1">Welcome to Meal Prepper</h1>
  <p class="subtitle">Your one-stop solution for meal planning and ingredient management!</p>
  
  <div class="columns">
    <div class="column">
      <h2 class="title is-3">Explore</h2>
      <ul>
        <li><%= link_to 'Meals', meals_index_path %></li>
        <li><%= link_to 'Recipes', recipes_index_path %></li>
        <li><%= link_to 'Ingredients', ingredients_index_path %></li>
        <li><%= link_to 'Stores', stores_index_path %></li>
      </ul>
    </div>
  </div>
</div>
